<html>
  <head>
    <title>RCEI | Dashboard</title>
    <script
      src="https://unpkg.com/htmx.org@1.9.9"
      integrity="sha384-QFjmbokDn2DjBjq+fM+8LUIVrAgqcNW2s0PjAxHETgRn9l4fvX31ZxDxvwQnyMOX"
      crossorigin="anonymous"
    ></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
      function addRange() {
        const capacityDiv = document.getElementById("capacity");
        const capacity = capacityDiv.value;
        const capacityLabel = document.getElementById("capacity-label");

        if (capacity == 0) {
          capacityLabel.innerHTML = "Capacity: Not Selected (GW)";
          return;
        }

        capacityLabel.innerHTML = `Capacity: ${capacity} (GW)`;
      }

      function insertAnalysis() {}

      async function generateAnalysis() {
        const all_keys = fetch("/data/keys").then(async (response) => {
          response = await response.json();
          const keys = response.value;
          const selected = {};
          for (let i = 0; i < keys.length; i++) {
            const key = keys[i];
            const checkboxes = document.querySelectorAll(`#${key} input[type=checkbox]:checked`);
            const values = [];
            for (let j = 0; j < checkboxes.length; j++) {
              values.push(checkboxes[j].value);
            }

            capacityDiv = document.getElementById("capacity");
            capacity = capacityDiv.value;
            selected[key] = values;
            selected["capacity"] = Number(capacity);
          }

          const analysis = fetch("./analysis", {
            method: "POST",
            headers: {
              "Content-Type": "application/json",
            },
            body: JSON.stringify(selected),
          }).then(async (response) => {
            resultsDiv = document.getElementById("analysis");
            resultsDiv.innerHTML = "";

            const data = await response.text();
            console.log(data);

            resultsDiv.innerHTML = `${data}`;
          });
        });
      }
    </script>
  </head>
  <body>
    <div class="flex h-[70vh] m-7 text-center 2-full">
      {% for i in range(keys_length) %}
      <div id="{{ keys[i] }}" class="w-full">
        <h2 class="text-xl font-semibold text-center">{{ titles[i] }}</h2>
        <div class="h-full overflow-auto px-3 text-left">
          {% for item in columns[i] %}
          <label class="text-base font-medium"
            ><input class="my-4" type="checkbox" value="{{ item }}" name="{{ item }}" /> {{
            item[:30] }}</label
          ><br />
          {% endfor %}
        </div>
      </div>
      {% endfor %}
    </div>
    <div class="mt-10 text-center">
      <label for="capacity" id="capacity-label"> Capacity: Not Selected (GW) </label>
      <br />
      <input
        class="w-96"
        type="range"
        min="0"
        max="1600"
        step="100"
        value="0"
        class="slider"
        id="capacity"
        onchange="addRange()"
      />
      <br />
      <button
        class="mt-5 px-5 py-2 text-white bg-blue-500 rounded hover:bg-blue-600"
        onclick="generateAnalysis()"
      >
        Generate Analysis
      </button>
    </div>
    <div id="analysis" class="mb-96 flex"></div>
  </body>
</html>
